CLOUDFLARE_TUNNEL_TOKEN=
COHERE_API_KEY=
COHERE_RERANK_MODEL=
GRAFANA_PASSWORD=
N8N_DB_PASS=
N8N_ENCRYPTION_KEY=
NOCODB_DB_PASS=
NOCODB_JWT_SECRET=
OPENROUTER_API_KEY=
OPENROUTER_EMBEDDING_MODEL=
OPENROUTER_OCR_MODEL=
PAPERLESS_DB_PASS=
POSTGRES_ADMIN_PASSWORD=
REDIS_PASSWORD=
TAILSCALE_AUTH_KEY=
